In [106]:
#Import Libraries
import pandas as pd
import numpy as np

In [107]:
#Question 1. Import the dataset into a pandas dataframe. Make sure that the date column is in pandas date time format.

# Load dataset
df = pd.read_csv("train.csv")

# Convert datetime column to pandas datetime format
df['datetime'] = pd.to_datetime(df['datetime'])

# Preview data
df.head()

C:\Users\prath\AppData\Local\Temp\ipykernel_10772\16990178.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['datetime'] = pd.to_datetime(df['datetime'])

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [108]:
#Question 2. Check the data type of each column. How many rows are there in the dataset ? Does the dataset contain any missing values ?

# Check data types
print(df.dtypes)

# Number of rows
print("Number of rows:", len(df))

# Check missing values
print(df.isnull().sum())

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
dtype: object
Number of rows: 10886
datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [109]:
#Question 3. Using the date column, create new columns for: year, month, day of the week and hour of the day.

df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day_of_week'] = df['datetime'].dt.day_name()
df['hour'] = df['datetime'].dt.hour

In [110]:
#Question 4. Rename the values in the season column to spring, summer, fall and winter.

season_mapping = {1: 'spring', 2: 'summer', 3: 'fall', 4: 'winter'}
df['season'] = df['season'].map(season_mapping)

In [111]:
#Question 5. Calculate the total number of casual and registered bikes rented in the years 2011 and 2012.

total_by_year = df.groupby('year')[['casual', 'registered']].sum()
print(total_by_year)

      casual  registered
year
2011  155817      626162
2012  236318     1067179

In [112]:
#Question 6. Calculate the mean of the hourly total rentals count by season. Which season has the highest mean ?

mean_by_season = df.groupby('season')['count'].mean()
print(mean_by_season)

# Find season with highest mean
highest_season = mean_by_season.idxmax()
print("Season with highest mean rentals:", highest_season)

season
fall      234.417124
spring    116.343261
summer    215.251372
winter    198.988296
Name: count, dtype: float64
Season with highest mean rentals: fall

In [113]:
#Question 7. Are more bikes rented by registered users on working or non-working days ?  Does the answer differ for non-registered users ? Is the answer the same for both years ?

# For registered users
reg_by_workday = df.groupby('workingday')['registered'].mean()
print("Registered users rentals by working day:\n", reg_by_workday)

# For casual users
casual_by_workday = df.groupby('workingday')['casual'].mean()
print("Casual users rentals by working day:\n", casual_by_workday)

# Check if it differs by year
reg_by_year_workday = df.groupby(['year','workingday'])['registered'].mean()
casual_by_year_workday = df.groupby(['year','workingday'])['casual'].mean()

Registered users rentals by working day:
 workingday
0    129.198330
1    167.904209
Name: registered, dtype: float64
Casual users rentals by working day:
 workingday
0    59.308290
1    25.107663
Name: casual, dtype: float64

In [114]:
#Question 8. Which months in the year 2011 have the highest and the lowest total number of bikes rented ? Repeat for the year 2012.

for yr in [2011, 2012]:
    month_totals = df[df['year']==yr].groupby('month')['count'].sum()
    print(f"Year {yr} - Month with highest rentals: {month_totals.idxmax()}, Lowest: {month_totals.idxmin()}")

Year 2011 - Month with highest rentals: 7, Lowest: 1
Year 2012 - Month with highest rentals: 6, Lowest: 1

In [115]:
#Question 9. Which type of weather have the highest and lowest mean of the hourly total rentals count ?

mean_by_weather = df.groupby('weather')['count'].mean()
print(mean_by_weather)
print("Weather with highest mean rentals:", mean_by_weather.idxmax())
print("Weather with lowest mean rentals:", mean_by_weather.idxmin())

weather
1    205.236791
2    178.955540
3    118.846333
4    164.000000
Name: count, dtype: float64
Weather with highest mean rentals: 1
Weather with lowest mean rentals: 3

In [116]:
#Question 10. Calculate the correlation between the hourly total rentals count and all the numerical columns in the dataset. Which column has the highest correlation with the total rentals count ?

numeric_cols = df.select_dtypes(include=np.number)  # selects only numeric columns
correlation = numeric_cols.corr()['count'].sort_values(ascending=False)
print(correlation)
print("Highest correlation with total rentals:", correlation.index[1], "=", correlation[1])

count         1.000000
registered    0.970948
casual        0.690414
temp          0.394454
atemp         0.389784
year          0.260403
windspeed     0.101369
month         0.056232
workingday    0.011594
holiday      -0.005393
weather      -0.128655
humidity     -0.317371
hour               NaN
Name: count, dtype: float64
Highest correlation with total rentals: registered = 0.9709481058098266

C:\Users\prath\AppData\Local\Temp\ipykernel_10772\3583265441.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Highest correlation with total rentals:", correlation.index[1], "=", correlation[1])

In [117]:
#Question 11. Create a new categorical column called day_period, which can take four possible values: night, morning, afternoon and evening. These values correspond to the following binning of the hour column: 0-6: night, 6-12: morning, 12-6: afternoon, 6-24:evening.

def get_day_period(hour):
    if 0 <= hour < 6:
        return 'night'
    elif 6 <= hour < 12:
        return 'morning'
    elif 12 <= hour < 18:
        return 'afternoon'
    else:
        return 'evening'

df['day_period'] = df['hour'].apply(get_day_period)

In [118]:
#Question 12. Generate a pivot table for the mean of the hourly total rentals count, with the index set to the day period and the column set to the working day column. What can you observe from the table ?

pivot_table = df.pivot_table(values='count', index='day_period', columns='workingday', aggfunc='mean')
print(pivot_table)

workingday           0           1
day_period
night       188.506621  193.011873